/* Empty. Add your own CSS if you like */

ion-content {
  background-image: url('../img/bg2.jpg');
  background-size: cover;
}

.bar-header {
  height: 70px;
}
.bar-header.modal-header {
  height: 45px;
}

.bar-header.modal-header h1 {
  font-size: 25px;
}

.has-header {
  padding-top: 25px;
}

input[name=search-bar] {
    width: 200px;
    height: 53px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 4px 16px;
    background-repeat: no-repeat;
    padding: 12px 2px 12px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input:disabled {
    background: RGBa(0,0,0,0);
}

textarea:disabled {
    background: RGBa(0,0,0,0);
}

.profile {
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
     overflow: hidden;

}


.ion-ios-bell {
  font-size: 3em !important;
}

.icon-dark {
  color: #000000;
}

.icon-assertive {
  color: #FF0000;
}
