<ion-view view-title="Create Route">
    <ion-content class="padding login-bg">

		<div class="list">
			<a ng-click="goBack()"  class="item item-icon-left">
			  <i class="icon ion-chevron-left"></i>
			  Go back
			</a>
		</div>

		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Start</span>
				<input type="text" placeholder="Enter starting address" > 
			</label>
			<label class="item item-input item-stacked-label">
			<span class="input-label">End</span>
				<input type="text" placeholder="Enter ending address">
			</label>
		</div>

		<div ng-if="wpAddresses.length > 0">
			<div class="list">
				<div ng-repeat="(i, wp) in wpAddresses track by $index">
					<label class="item item-input item-label">
						<span class="input-label">Way Point {{i+1}}</span>
						<input ng-model="wp" type="text" > 
					</label>
				</div>
			</div>
		</div>
		<div class="row" style="padding-bottom: 5vh;">
			<div class="col">
				<div class="button button-clear button-balanced" ng-click="addWpInput()">
					New Waypoint&nbsp
					<i class="icon ion-plus-round"></i>
				</div>
			</div>
			<div class="col">
				<div class="button button-clear button-assertive" ng-click="removeWpInput()">
					Delete Waypoint&nbsp
					<i class="icon ion-minus"></i>
				</div>
			</div>
		</div>
		
		<div class="button button-block button-large button-positive" ng-click="next()">
			Next&nbsp
			<i class="icon-right ion-chevron-right"></i>
		</div>

	
	</ion-content>
</ion-view>