<ion-view view-title="Dashboard">

      <ion-content class="padding-top padding-bottom ">
        <div class="row">
          <div class="col col-90">
          <h3>Welcome back, {{ user_data.firstname }} {{ user_data.lastname }} !</h3>
          </div>
          <div class="col">
          <a ng-if="!notifications.length" ng-click="openPopover($event)" class="gi-3x icon-dark icon ion-ios-bell"></a>
          <a ng-if="notifications.length" ng-click="openPopover($event)" class="gi-3x icon-assertive icon ion-ios-bell"></a>
          </div>
        </div>

        <div class="list card">

          <a ng-click="goViewFriends()" class="item item-icon-left">
            <i class="icon ion-person-stalker"></i>
            View friends
          </a>

          <a ng-click="goViewFrRequests()" class="item item-icon-left">
            <i class="icon ion-paper-airplane"></i>
            View friend requests
          </a>

          <a  ng-click="goAddFriend()" class="item item-icon-left">
            <i class="icon ion-person-add"></i>
            Add friend
          </a>

          <a  ng-click="goCreateRoute()" class="item item-icon-left">
            <i class="icon ion-fork-repo"></i>
            Create Route
          </a>

          <a  ng-click="goMyRoutes()" class="item item-icon-left">
            <i class="icon ion-star"></i>
            My routes
          </a>

          <a  ng-click="goProfile()" class="item item-icon-left">
            <i class="icon ion-settings"></i>
            My profile
          </a>

          <a  ng-click="logout()"  style="background:red" class="item item-icon-left">
            <i class="icon ion-log-out"></i>
            Log Out
          </a>

        </div>

      </ion-content>
    </ion-view>
