<ion-view view-title="Dashboard">

<!-- <div id="myNav" style= "width: 100%" class="overlay">
  <a href="javascript:void(0)" class="closebtn" on-hold= "record()" on-double-tap = "speakText('Dashboard Page. Swipe right to go back. Select 1 to view friends. Select 2 to view friend requests. Select 3 to Add a friend. Select 4 to create a route. Select 5 for my routes. Select 6 for my profile. Select 7 to log out. Double tap the screen to listen to the options again. Press and hold on the screen to record your selection.')">;</a>
  </div> -->

      <ion-content class="padding-top padding-bottom ">

        <div class="row">
          <div class="col col-90">
          <h3>Welcome back, {{ user_data.firstname }} {{ user_data.lastname }} !</h3>
          </div>
          <div class="col">
          <a ng-if="!notifications.length" ng-click="openPopover($event)" class="gi-3x icon-dark icon ion-ios-bell"></a>
          <a ng-if="notifications.length" ng-click="openPopover($event)" class="gi-3x icon-assertive icon ion-ios-bell"></a>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap">
            {{recognizedText}}
          </div>
        </div>

        <div class="list card">

          <a on-tap= "goViewFriends()" on-hold="speakText('View Friends')" class="item item-icon-left">
            <i class="icon ion-person-stalker"></i>
            View friends
          </a>
         
          <a on-tap="goViewFrRequests()" on-hold="speakText('View Friend Requests')" class="item item-icon-left">
            <i class="icon ion-paper-airplane"></i>
            View friend requests
          </a>

          <a  on-tap="goAddFriend()" on-hold="speakText('Add Friend')" class="item item-icon-left">
            <i class="icon ion-person-add"></i>
            Add friend
          </a>

          <a  on-tap="goCreateRoute()" on-hold="speakText('Create Route')" class="item item-icon-left">
            <i class="icon ion-fork-repo"></i>
            Create Route
          </a>

          <a  ng-click="goMyRoutes()" class="item item-icon-left">
            <i class="icon ion-star"></i>
            My routes
          </a>

          <a  on-tap="goProfile()" on-hold="speakText('My Profile')" class="item item-icon-left">
            <i class="icon ion-settings"></i>
            My profile
          </a>

          <a  ng-click="logout()"  style="background:red" class="item item-icon-left">
            <i class="icon ion-log-out"></i>
            Log Out
          </a>

        </div>

      </ion-content>
    </ion-view>
