<ion-view view-title="My routes">
<div id="myNav" style= "width: 100%" class="overlay">
  <a href="javascript:void(0)" class="closebtn" on-hold= "record()" on-double-tap = "speakText('Directions Goodge Street to British Library. ')" on-swipe-right="goBack()">;</a>
  </div> 
  <ion-content class="padding-top padding-bottom">
    <div class="row">
      <div class="col col-33">
        <a ng-click="goBack()"  class="icon-left button button-clear button-dark ion-chevron-left">
          Back
        </a>
      </div>
    </div>
    
    <div class="directions itinerary-items">
      <div class="card" ng-repeat="itinerary in itineraryItems track by $index">
        <div class="item item-text-wrap">{{ itinerary }}</div>
      </div>
    </div>

  </ion-content>
</ion-view>
