<ion-view view-title="Friends">
      <ion-content class="padding-top padding-bottom login-bg">
        <div class="row">
          <div class="col col-40">
            <a ng-click="goBack()"  class="item item-icon-left">
              <i class="icon ion-chevron-left"></i>
              Go back
            </a>
          </div>
          <div class="col"></div>
          <div class="col col-50">
            <a ng-click="goAddFriend()"  class="item item-icon-right">
              <i class="icon ion-person-add"></i>
              Add friend
            </a>
          </div>
        </div>
        <div>
          <h3> You have {{ friends.length }} friends:</h3>
        </div>
        <ion-list>
          <a class="item item-avatar" ng-repeat="friend in friends" >
            <img src="img/avatar.jpg">
            <h2>{{friend.name }}</h2>
            <p>Back off, man. I'm a scientist.</p>
          </a>

        </ion-list>




      </ion-content>
</ion-view>
