<ion-view view-title="Friends">
<div id="myNav" style= "width: 100%" class="overlay">
  <a href="javascript:void(0)" class="closebtn" on-hold= "record()" on-double-tap = "speakText()" on-swipe-right= "goBack()">;</a>
  </div> 
      <ion-content class="padding-top padding-bottom">
        <div class="row">
          <div class="col col-33">

            <a on-tap="goBack()"  class="icon-left button button-block button-clear button-dark ion-chevron-left">
              Back
            </a>
          </div>
          <div class="col col-offset-20">
            <a ng-click="goAddFriend()"  class="icon-right button button-block button-positive ion-person-add">
              Add friend
            </a>
          </div>
        </div>
        <div>
          <h3> You have {{ rawFriends.length }} friends:</h3>
        </div>

        <ion-list>
          <a class="item item-avatar" ng-repeat="friend in rawFriends" >
            <img src="img/avatar.jpg">
            <h2>{{friend.firstName}} {{friend.lastName}}</h2>
            <p>Back off, man. I'm a scientist.</p>
          </a>
        </ion-list>
      </ion-content>
</ion-view>
