<ion-view view-title="Friend Requests">

  <ion-content class="padding-top padding-bottom">
        <div class="row">
          <div class="col col-40">
          <a ng-click="goBack()"  class="item item-icon-left">
            <i class="icon ion-chevron-left"></i>
            Go back
          </a>
          </div>
        </div>
            <div class="list">
              <div ng-if = "friend_requests.length > 0">
                <a ng-repeat= "user in friend_requests">
                  <div class="item" style="padding: 0px; margin-left: 8px;  margin-right: 8px;">
                    <div class="row">
                      <div class="col col-78">
                        <div class="item item-avatar" style="border-color: white;">
                          <img src="img/avatar.jpg">
                          <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                          <p>{{ user.phone }}</p>
                        </div>
                      </div>
                      <div class="col col-11">
                        <button class="button button-block button-outline button-calm" ng-click="accept(user)" >
                          <ion-icon class="ion-checkmark"></ion-icon>
                        </button>
                      </div>
                      <div class="col col-11">
                        <button class="button button-block button-outline button-assertive" ng-click="decline(user)">
                          <ion-icon class="ion-close"></ion-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        

<!--     <div class="list">
  <div ng-if="filteredPeople.length > 0 ">       
   <a class="item item-avatar item-button-right" ng-repeat="item in filteredPeople" >
          <img src="img/avatar.jpg">
          <h2>{{ item.firstname + " " + item.lastname }}</h2>
          <p>{{ item.phone }}</p>

          <button ng-if="!item.request_sent" class="button button-large button-calm" ng-click="sendFriendRequest(item.id)">
            <i class="icon ion-person-add"></i>
          </button>
          <button ng-if="item.request_sent" class="button button-large  button-outline button-stable" ng-click="cancelFriendRequest(item.id)">
            Cancel request
          </button>
    </a>
  </div>
  <div ng-if="filteredPeople.length == 0">
    <h2>No results</h2>
  </div>
</div> -->



  </ion-content>
</ion-view>
