<ion-view view-title="Login">

    <ion-content class="padding">
      <div class="row">
        <h4  ><b>Cities Unlocked is a unique collaboration between Guide Dogs and Microsoft,
          which explores the potential technology has to enable people living with sight
          loss to get out and about, independently and confidently, in our towns and cities.</b> </h4>
      </div>

      <h3  ng-if="data.username">
        Hello!
      </h3>
      <h3 ng-if="!data.username">
        {{ default_text }}
      </h3>
      <label class="item item-input">
        <input ng-model="data.username" type="text" placeholder="Email" required>
      </label>
      <label class="item item-input">
        <input ng-model="data.password" type="password" placeholder="Password" required>
      </label>
      <div class="row">
        <div class="col col-50">
          <button ng-click="login(data)" class="button button-block button-positive">
            <i class="icon icon-locked"></i> Log in</button>
        </div>
        <div class="col col-50">
          <button ng-click="goToRegister()" class="button button-block button-positive">Register</button>
        </div>
      </div>
    </ion-content>
</ion-view>
