<ion-view view-title="My routes">

  <ion-content class="padding-top padding-bottom">

    <div class="row">
      <div class="col col-33">
        <a ng-click="goBack()"  class="icon-left button button-clear button-dark ion-chevron-left">
          Back
        </a>
      </div>

      <div class="col col-offset-33">
        <a ng-click="show_mine = !show_mine" ng-model="show_mine" class="button button-positive icon-right ion-shuffle   ">
          Switch
        </a>
      </div>

    </div>
    <div class="row">
      <h3>
        <div ng-if="!show_mine"> My routes ({{ my_routes.length }}): </div>
        <div ng-if="show_mine"> 
          <div ng-if="shared_routes.length == 0">
            No pending routes
          </div>
          <div ng-if="shared_routes.length > 0">
            Shared routes ({{ shared_routes.length }}):
          </div>
        </div>
      </h3>
    </div>


    <div class="card-wrapper">

      <div id="myRoutes" ng-if="!show_mine">
        <a ng-click="seeRoute(route)" ng-repeat="route in my_routes" on-hold="showActions(route.id)">
          <div class="card">
            <div class="item item-divider">
              <div class="row" >
                <div class="col col-74">
                  {{ route.title }}
                </div>
                <div class="col col-26" style="text-align: right;">
                  {{ route.created_at | date: "d MMMM y"}}
                </div>
                
              </div>
            </div>

            <div class="item item-text-wrap">
              {{ route.description }}
            </div>

          </div>
        </a>

      </div>

      <div id="sharedRoutes" ng-if="show_mine">
        <a ng-click="sharedRoutesAction(route)" ng-repeat="route in shared_routes">
          <div class="card">
            <div class="item item-divider">
              <div class="row" >
                <div class="col col-74">
                 {{ route.title }}
                </div>
                <div class="col col-26" style="text-align: right;">
                  {{ route.created_at | date: "d MMMM y"}}
                </div>     
              </div>
            </div>
            <div class="item item-text-wrap">
              {{ route.description }}
            </div>
          </div>
        </a>
      </div>
    </div>




  </ion-content>
</ion-view>
