<ion-view view-title="Register">
    <ion-content class="padding-top padding-bottom login-bg">

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input ng-model="register.firstName" type="text" placeholder="John">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input ng-model="register.lastName" type="text" placeholder="Suhr">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input ng-model="register.email" type="text" placeholder="john@suhr.com">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input ng-model="register.password" type="password" placeholder="password" >
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm Password</span>
            <input ng-model="register.password_confirm" type="password" placeholder="password" >
          </label>
          <div class="padding">
            <button ng-click="register()" class="button button-block button-positive">Create Account</button>
          </div>
          <a ng-click="goToLogin()" class="item item-icon-left">
            <i class="icon ion-locked"></i>
            <h4>Already have an account? Click here to login</h4>
          </a>
        </div>
    </ion-content>
</ion-view>