<ion-view view-title="My routes">
<a href="javascript:void(0)" class="closebtn" on-hold= "record()" on-double-tap = "speakText('Goodge street to british library. You have 2 waypoints. At goodge street nice print room cafe. At gower street meeting. Would you like to view directions? Swipe right to go back.')" on-swipe-right="goBack()">;</a>
  </div> 
  <ion-content class="padding-top padding-bottom" scroll="false">

  <map on-create="mapCreated(map)" style="width: 100%; height: 100vh; position:absolute; "></map>

  <div class="row">
    <div class="col col-33">
      <a ng-click="goBack()"  class="icon-left button button-clear button-dark ion-chevron-left">
        Back
      </a>
    </div>
    <div class="col col-33 col-offset-34">
      <a ng-click="viewDirections()" class="button button-clear button-dark icon-right ion-chevron-right">
        Directions
      </a>
    </div>
   </div>

  </ion-content>
</ion-view>
